{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Código QR</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{% static 'auxiliares/qrcode.js'%}"></script>
    </head>
    <body>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="pull-center">
                        <h1>Instrucciones:</h1>
                        <ul>
                            <li><h4>El código QR <strong>solo</strong>  puede mostrarse en navegadores <strong>Chrome,Safari y Explorer.</strong> </h4></li>
                            <li><h4>También puedes imprimir o guardar como pdf el código QR, si estas en tú laptop da <strong>CTRL P</strong> y guarda como pdf ó imprime. </h4></li>
                            <li><h4>Puedes descargar cualquier lector de código QR para leer el código.</h4></li>
                        </ul>
                    </span>
                </div>
                <br>
                <div class="col-md-6">
                    <div id="qrcode" class="pull-center" style="width:300px; height:300px; margin-top:15px;"></div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <script type="text/javascript">
            var codEstudiante = ''+{{idAlumno}};
            var documentoAlumno =''+{{documentoAlumno}};
            var urlestudiante = "https://wwww.phihorizontal.com/"+documentoAlumno+"/"+codEstudiante+"/";

            var qrcode = new QRCode(document.getElementById("qrcode"), {
            	width : 300,
            	height : 300
            });

            qrcode.makeCode(urlestudiante);
        </script>

    </body>
</html>
