{% extends 'director/nav.html' %}

{% block tablero %}
    <div class="z-depth-2">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2><strong>Insertar selecciones</strong></h2>
                </div>
            </div>
        </div>
        <div class="ibox-content">
           <h2>En construcción</h2>
        </div>
    </div>
{% endblock %}

{% block scriptsFile %}
 <script type="text/javascript">

 </script>
{% endblock %}
