{% extends 'director/nav.html' %}

{% block tablero %}
    <div class="z-depth-2">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2><strong>Insertar selecciones</strong></h2>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal" id="formulario" action="index.html" method="post">{% csrf_token %}

              <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Nombre de la selección:</label>
                  <div class="col-sm-7">
                    <input type="text" name="nombreseleccion" id="nombresProfesor" class="form-control"  placeholder="Nombre de selección" required>
                  </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-sm-2">Asignar Entrenador: </label>
                    <div class="col-sm-7">
                        <select class="form-control" name="entrenadorId" id="selectEntrenador" value="[]" placeholder="entrenador" required>
                            {% for entrenador in entrenadores %}
                                <option value="{{entrenador.id}}">{{entrenador.first_name}} {{entrenador.last_name}}</option>
                            {% endfor %}
                          </select>
                    </div>
              </div>
              <div class="form-group">
                      <div class="col-sm-9">
                          <input type="submit"  class="btn btn-primary pull-right" value="Registrar" >
                      </div>
              </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scriptsFile %}
 <script type="text/javascript">
    $(document).ready(function() {
      $("#selectEntrenador").select2();
    })

    $("#formulario").submit(function(event) {
        console.log("aviso de formulario");
        event.preventDefault();
        var data1  = new FormData($("#formulario").get(0));
        $.ajax({
          url: '/director/insertseleccionform/',
          type: 'POST',
          data: data1,
          cache: false,
          processData: false,
          contentType: false,
          dataType: 'json',
          success: function(datos) {
               toastr.success(datos.msj,'');
               location.href = "/director/misselecciones/";
          },
          error: function() {
            console.log("error");
          }

        })
    })

 </script>
{% endblock %}
