{% extends 'director/nav.html' %}

{% block title %} Lista de pagos {% endblock %}

{% block cssFile %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block tablero %}

<div class="z-depth-2">
    <div class="ibox-title">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h2><strong>Lista de Pagos</strong></h2>
            </div>
        </div>
    </div>
    <div class="ibox-content">

    </div>
</div>
{% endblock %}
{% block scriptsFile %}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}
