{% extends 'bases/tableros/scriptsBoard.html' %}
{% load staticfiles %}

{% block menuCss %}
    <style media="screen">
        .img-perfil {
            width: 50%
        }
    </style>
{% endblock %}

{% block menu %}
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element ">
                      <span>
                          {% for colegio in user.perfil.escuela.all %}
                              <h3><strong  style="color:#FDFEFE;"> Escuela de alto rendimiento {{ colegio.nombre }} </strong></h3>
                          {% endfor %}
                      </span>
                    </div>
                </li>
                <li id="home">
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Home</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li id="inicio"><a href="/director/inicio/"><i class="fa fa-coffee"></i>Inicio</a></li>
                    </ul>
                </li>
                <li id="tablero" >
                    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Mi escuela</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li id="miEquipo"><a href="/director/miequipo/"><i class="fa fa-child"></i>Mi equipo</a></li>
                        <li id="misSelecciones"><a href="/director/misselecciones/"><i class="fa fa-soccer-ball-o"></i>Mis selecciones</a></li>
                        <li id="misEntrenadores"><a href="/director/misentrenadores/"><i class="fa fa-coffee"></i> Mis entrenadores</a></li>
                        <li id="listapadres"><a href="/director/listapadres/"><i class="fa fa-coffee"></i> Padres </a></li>
                    </ul>
                </li>
                <li id="informesEquipo" >
                    <a href="index.html"><i class="fa fa-th-large"></i><span class="nav-label">Informes de mi equipo</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="dashboard_4_1.html">Actuales</a></li>
                        <li><a href="dashboard_4_1.html">Cerradas</a></li>
                    </ul>
                </li>
                <li id="compentencias" >
                    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Mis competencias</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="dashboard_4_1.html">Actuales</a></li>
                        <li><a href="dashboard_4_1.html">Cerradas</a></li>
                    </ul>
                </li>
                <li id="registro">
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Registros</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li id="profesores"><a href="/director/insertprofesores/"><i class="fa fa-coffee"></i> Registro profes</a></li>
                    </ul>
                    <ul class="nav nav-second-level">
                        <li id="padres"><a href="/director/insertpadres/"><i class="fa fa-list"></i>Registro Padres</a></li>
                    </ul>
                    <ul class="nav nav-second-level">
                        <li id="estudiantes"><a href="/director/insertestudiantes/"><i class="fa fa-child"></i>Registro equipo</a></li>
                    </ul>
                    <ul class="nav nav-second-level">
                        <li id="staff"><a href="/director/insertstaff/"><i class="fa fa-group"></i>Registro staff</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        {% block nav %}{% endblock %}
        <br>
        {% block tablero %} {% endblock %}
    </div>
</div>


{% endblock %}
