{% extends 'director/nav.html' %}


{% block cssFile %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block tablero %}
    <div class="z-depth-2">
        <div class="ibox-title">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2><strong>Mis entrenadores</strong></h2>
                </div>
            </div>
        </div>
        <div class="ibox-content">
           <table id="tabla" class="display">
             <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Numero de documento</th>
                    <th>Área</th>
                    <th>Acciones</th>
                  </tr>
             </thead>
             <tbody>
                  {% for entrenador in entrenadores %}
                    <tr>
                      <td>{{entrenador.first_name}}</td>
                      <td>{{entrenador.perfil.numDocumento}}</td>
                      <td>{{entrenador.perfil.area}}</td>
                      <td>
                         <a href="#"> <i class="fa fa-trash"></i></a>
                          &nbsp
                          <a href="#"> <i class="fa fa-edit"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
             </tbody>
           </table>
        </div>
    </div>
{% endblock %}

{% block scriptsFile %}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script type="text/javascript">
    $('#tabla').DataTable();
  </script>
{% endblock %}
